# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

[*.{yml,m4,sh,md,php,phpt,xml,json,w32}]
indent_style = space

[*.{yml,m4,sh}]
indent_size = 2
