# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

*.o
*.lo
*.la
*.profraw

.deps
.libs
acinclude.m4
aclocal.m4
autom4te.cache
/build
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
/include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
/modules
run-tests.php
php_test_results_*

# Parser files
/parser/lemon
/parser/parser.c
/parser/scanner.c
/parser/zephir.c
/parser/zephir.h
/parser/zephir.out

release
lcov.info
/coverage
